@import url('https://fonts.googleapis.com/css?family=Lato:300,500,700&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

h1 {
    position: relative;
}

h1 button {
    position: absolute;
    right: 0;
    transform: translate(120%, -50%);
    z-index: 2;
}

.btn {
    cursor: pointer;
    background-color: #fff;
    border: .0625rem solid #aaa;
    border-radius: .1875rem;
    font-size: .875rem;
    margin-top: 1.25rem;
    padding: .625rem .9375rem;
}

.btn-small {
    font-size: .75rem;
    padding: .3125rem .625rem;
}

.btn-ghost {
    border: none;
    background-color: transparent;
}

.clear {
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
}

.cards {
    perspective: 62.5rem;
    position: relative;
    height: 18.75rem;
    width: 31.25rem;
    max-width: 100%;
}

.card {
    position: absolute;
    opacity: 0;
    font-size: 1.5em;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(50%), rotateY(-10deg);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.active {
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    transform: translateX(0), rotateY(0);
}

.card.left {
    transform: translateX(-50%), rotateY(10deg);
}

.inner-card {
    box-shadow: 0 .0625rem .625rem rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
}

.card.show.active .inner-card {
    transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #fff;
}

.inner-card-front::after,
.inner-card-back::after {
    content: '\f021 Flip';
    font-family: 'FontAwesome 5 Free', Lato, sans-serif;
    position: absolute;
    top: .625rem;
    right: .625rem;
    font-weight: 700;
    font-size: 1rem;
    color: #ddd;
}

.navigation {
    display: flex;
    margin: 1.25rem 0;
}

.navigation .nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}

.navigation p {
    margin: 0 1.5625rem;
}

.add-container {
    opacity: 0;
    z-index: -1;
    background-color: #f0f0f0;
    border-top: .125rem solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .625rem 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: 0.3s ease;
}
.add-container.show {
    opacity: 1;
    z-index: 2;
}

.add-container h3 {
    margin: .625rem 0;
}

.form-group label {
    display: block;
    margin: 1.25rem 0 .625rem;
}

.form-group textarea {
    border: .0625rem solid #aaa;
    border-radius: .1875rem;
    font-size: 1rem;
    padding: .75rem;
    min-width: 31.25rem;
    max-width: 100%;
}